@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

header{
	background: #000000;
	border-bottom: 1px solid #000000;
	width: 100%;
	position: fixed;
	z-index: 10;
	img{
		float: left;
		position: absolute;
		height: 64px;
		weight: 64px;
	}
	.nav-menu{
		float: right;
		margin-right: 20px;
		li{
			display: inline block;
			float: left;
			margin-left: 20px;
		}
	}
	a{
		color: #ffffff;
		text-decoration: none;
		font-family: $font-primary;
		font-size: 20px;

	}
}
/*Sizes for the bigger menu*/
header.large{
	height: 70px;
	li{
		margin-top: 20px;
	}
}
section{
	width: 100%;
	position: relative;

}
#home{
	top: 70px;
	height: 805.5px;
	font-family: $font-secondary;
	h1{
  		font-size: 32px;
  		color: #ffffff;
  		position: absolute;
  		top:40%;
	}
	h2{
		font-size: 64px;
		position: absolute;
		top: 50%;
		left: 50%;
		color: #ffffff;
	}
	video{
		width: 100%;
	}
}
#trends{
	top: 15%;
	height: 1200px;
	position: relative;
	
	h1{
		font-size: 32px;
		font-family: $font-secondary;
		color: #ffffff;
	}
	p{
		font-family: $font-primary;
		font-size: 24px;
		margin-top: 5px;
	}
	#multiColumn{
		background-image: url("/media/background_stage.jpg");
		height: 600px;
		position: relative;
		margin-top: 80px;
		ul{
			li{
				position: relative;
				width: 33%;
				display: inline-block;
				vertical-align: middle;
				img{
					display: block;
					margin: 0 auto;
				}
				p{
					text-align: center;
				}
				span{
					margin-top: 10px;
					width: 40%;
				}
			}
		}
	}
	#pantone-modal{
		li{
			position: relative;
			display: inline-block;
			width: 20%;
			vertical-align: middle;
		}
	}
}

.test {
  font-size: 1.2rem;
  color: $blue;
}
