@import "variables";

@mixin background($url){
	background-image: url($url);
	background-size: cover;
	background-postion: center center;
	background-attachment: fixed;
	background-repeat: no repeat;
	z-index: 1;
}

@mixin title(){
	font-size: 36px;
	color: #000000;
	line-height: 60px;
	font-family: $font-secondary;
	margin-left: 1em;
	text-align: center;
}

@mixin transition($transition){
	transition: $transition;
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
}

@mixin transform($transform){
	transform: $transform;
	-ms-transform: $transform;
	-webkit-transform: $transform;
}