$orange         : #BD3613;
$blue           : #2176C7;
$nadeshikoPink: #F4ACB7;
$mistyRose: #FFE5D9;
$bubbleGum: #FFCAD4;
$black: #080014;
$terraCotta: #D44D5C;

$font-primary: 'Lato', sans-serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;