$orange         : #BD3613;
$blue           : #2176C7;
$taupe			: rgba(175,148,131,0.6);
$dustyCedar		: #AD5d5d;
$mustard		: #D8AE47;
$airyBlue		: #92B6D5;
$white: #ffffff;

$font-primary: "Open Sans", sans-serif;
$font-secondary: "Rozha One", serif;
$title-size: 24px;

$default-border-radius : 10px;