$orange         : #BD3613;
$blue           : #2176C7;
$taupe			: #AF9483;
$dustyCedar		: #AD5d5d;
$mustard		: #D8AE47;
$airyBlue		: #92B6D5;

$font-primary: Cormorant Garamond, serif;
$font-secondary: Playfair Display, serif;

$default-border-radius : 10px;